@font-face {
  font-family: ubuntu;
  src: url(../../ubuntu/Ubuntu-Bold.ttf);
}
body {
  margin: 0;
  padding: 0;
  background-color: mediumspringgreen;
}

@media (max-width: 768px) {
  section {
    height: 8.5%;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 2px dotted black; */
    border-radius: 40px;
    background-color: ivory;
    box-shadow: 4px 7px 5px rgba(170, 170, 170, 0.7),
      -4px 7px 5px rgba(170, 170, 170, 0.7),
      0px -4px 5px rgba(170, 170, 170, 0.7);
  }

  .container {
    position: absolute;
    display: flex;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 2px solid black; */
    text-align: center;
    height: 85%;
  }
  

  .button {
    position: relative;
    margin: 0 1%;
    font-family: ubuntu;
    /* border: 1px solid black; */
    width: 14%;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(170, 170, 170, 0.7),
      -2px -2px 3px rgba(170, 170, 170, 0.7),
      1px 1px 2px rgba(170, 170, 170, 0.7),
      -1px -1px 2px rgba(170, 170, 170, 0.7);
  }
    #button1 {
    border-radius: 40px 5px 5px 40px;
  }

  .active {
    background-color: mediumspringgreen;
    opacity: 0.6;
  }

  #button7 {
    border-radius: 5px 40px 40px 5px;
  }

  .button:hover {
    background-color: mediumspringgreen;
    opacity: 1;
    border-radius: 7px;
  }

  #button1:hover {
    border-radius: 40px 7px 7px 40px;
  }

  #button7:hover {
    border-radius: 7px 40px 40px 7px;
  }
}






@media (min-width: 768px) {
  section {
    height: 8.5%;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 2px dotted black; */
    border-radius: 40px;
    background-color: ivory;
    box-shadow: 4px 7px 5px rgba(170, 170, 170, 0.7),
      -4px 7px 5px rgba(170, 170, 170, 0.7),
      0px -4px 5px rgba(170, 170, 170, 0.7);
  }

  .container {
    position: absolute;
    display: flex;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 2px solid black; */
    text-align: center;
    height: 85%;
  }
  

  .button {
    position: relative;
    margin: 0 1%;
    font-family: ubuntu;
    /* border: 1px solid black; */
    width: 14%;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(170, 170, 170, 0.7),
      -2px -2px 3px rgba(170, 170, 170, 0.7),
      1px 1px 2px rgba(170, 170, 170, 0.7),
      -1px -1px 2px rgba(170, 170, 170, 0.7);
  }
    #button1 {
    border-radius: 40px 5px 5px 40px;
  }

  .active {
    background-color: mediumspringgreen;
    opacity: 0.6;
  }

  #button7 {
    border-radius: 5px 40px 40px 5px;
  }

  .button:hover {
    background-color: mediumspringgreen;
    opacity: 1;
    border-radius: 7px;
  }

  #button1:hover {
    border-radius: 40px 7px 7px 40px;
  }

  #button7:hover {
    border-radius: 7px 40px 40px 7px;
  }
}
