body{
    font: 19px/1.5 Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}
#sectionHome{
    width: 80%;
    margin: 40vh auto;
}
button{
    font-size: 19px;
    width: 45%;
    height: 60px;
    border-radius: 50px;
    border-width: 0;
    color: bisque;
    background-color: chocolate;
}
#section{
    position: relative;
    width: 100%;
    height: 98vh;
}
img{
    width: 100%;
    height: 98vh;
}
.input
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98vh;
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
    mix-blend-mode: hue;
}
::-webkit-color-swatch,::-moz-color-swatch
{
    border: none;
}
::-webkit-color-swatch-wrapper, ::-moz-color-swatch-wrapper
{
    padding: 0;
}
