body {
  background-color: rgba(51, 51, 51, 0.3);
  margin: 0;
  padding: 0;
}
.loader {
  /* z-index: 9; */
  position: fixed;
  height: 100vh;
  width: 100%;
  /* background-color: black; */
}
.loader:hover{
  z-index: -1;
}
.loader::before {
  content: "";
  position: absolute;
  left: 0%;
  width: 50%;
  height: 100vh;
  background-color: black;
  transition: 1s;
}
.loader.complete::before {
  width: 0%;
}
.loader::after {
  content: "";
  position: absolute;
  right: 0%;
  width: 50%;
  height: 100vh;
  background-color: black;
  transition: 1s;
}
.loader.complete::after {
  width: 0%;
}
iframe {
  height: 40vh;
  width: 50%;
  border: none;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 3px 3px 3px rgb(51, 51, 51, 0.7),
    -3px 3px 3px rgb(51, 51, 51, 0.7), 3px -3px 3px rgb(51, 51, 51, 0.7),
    -3px -3px 3px rgb(51, 51, 51, 0.7);
  border-radius: 20px;
}
iframe:hover {
  z-index: 9;
  box-shadow: 10px 10px 10px rgb(51, 51, 51, 0.7),
    -10px 10px 10px rgb(51, 51, 51, 0.7), 10px -10px 10px rgb(51, 51, 51, 0.7),
    -10px -10px 10px rgb(51, 51, 51, 0.7);
}