body{
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: black;
}
section{
  text-align: center;
  transform: translate(0, 40vh);
  /* border: 2px dotted white; */
  margin: 0 20%;
}
button{
  font: 20px/1.5 Helvetica, sans-serif;
  display: inline-block;
  color: white;
  background: linear-gradient(to right, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  width: 75%;
  height: 16vh;
  padding: 2vh;
  text-transform: uppercase;
  border-radius: 60px;
  outline: none;
  border-width: 0;
}
button:hover{
  animation: animate 8s linear infinite;
}
@keyframes animate{
  0%{background-position: 0%}
  100%{background-position: 400%}
}
button::before{
  content: '';
  background: linear-gradient(to right, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  opacity: 0;
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -1px;
  right: -1px;
  border-radius: 30px;
  transition: 0.5s;
  z-index: -1;
}
button:hover::before{
  opacity: 1;
  filter: blur(20px);
  animation: animate 8s linear infinite;
}