$primary-color: #444;
$secondary-color: #eece1a;
$show-home-image: true;
$home-image: url(../img/img.jpg);
$background-opacity: 0.9;


// Set Text Color
@function setTextColor($color){
  @if (lightness($color) > 40){
    @return #000;
  }@else{
    @return #fff
  }
}


@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-image{
    background: $home-image;
    background-attachment: fixed;
    background-size: cover;
    }
    &#bg-image::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba($primary-color, 0.85);
    }
  }
}

@font-face {
    font-family: ubuntu;
    src: url(../../ubuntu/Ubuntu-Medium.ttf);
  }



  @mixin mediaSm {
    @media screen and (max-width: 500px){
      @content;
    }
  }

  @mixin mediaMd {
    @media screen and (max-width: 768px){
      @content;
    }
  }

  @mixin mediaLg {
    @media screen and (min-width: 769px) and (max-width: 1170px){
      @content;
    }
  }

  @mixin mediaXL {
    @media screen and (min-width: 1171px){
      @content;
    }
  }