@import "config";
@import "menu";


* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: setTextColor($primary-color);
  margin: 4rem 0 0 0;
  height: 100%;
  max-width: 100vw;
  font-family: ubuntu, "Segoe UI", Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 4rem;
  }

  &.sm-heading {
    font-size: 1.2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}
a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 0 4vw;
  min-height: calc(100vh - 40px);

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
}

.about-info {
  margin-top: 4vh;
  display: grid;
  grid-gap: 4vw;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 27vw);

  .bio-image {
    grid-area: bioimage;
    width: 25vw;
    height: auto;
    border: 3px solid $secondary-color;
    border-radius: 50%;
    margin-top: 1rem;
  }

  .bio {
    grid-area: bio;
    font-size: 1.25rem;
  }
  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 3px solid;
    margin: 0 auto;

    &.job {
      &1 {
        grid-area: job1;
      }

      &2 {
        grid-area: job2;
      }

      &3 {
        grid-area: job3;
      }
    }
  }
}
.projects{
  margin-top: 4vh;
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: 27vw 27vw 27vw;

  img{
    width: 100%;
    // height: 120px;
    border: 3px #fff solid;

    &:hover{
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut();
    }
  }
}



.btn{
  display: block;
  width: 100%;
  padding: 0.5rem auto;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover{
    background: $secondary-color;
    color: setTextColor($primary-color);
  }

  &-dark{
    @extend .btn;
    background: darken($primary-color, 50);
    color: #fff;
  }

  &-light{
    @extend.btn;
    background: lighten($primary-color, 50);
    color: #333;
  }
}




.boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 4vh;

  div{
    font-size: 1.25rem;
    border: 3px #fff solid;
    padding: 1.5rem 2rem;
    margin-bottom: 4vh;
    @include easeOut();

    &:hover{
      background: $secondary-color;
      color: setTextColor($secondary-color);
      span{
        color: setTextColor($secondary-color);
      }
    }
  }
}
















#main-footer {
  margin-top: 20px;
  text-align: center;
  height: 40px;
  padding: 0.5rem;
  background: darken($primary-color, 5);
  width: 100%;
}









@import "mobile";